<p id="notice"><%= notice %></p>

<h1>Mission</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Scientist</th>
      <th>Planet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.name %></td>
        <td><%= mission.scientist.name %></td>
        <td><%= mission.planet.name %></td>

        <td><%= link_to 'Show', mission %></td>
        <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
        <td><%= button_to 'Delete', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission', new_mission_path %>
