<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scientist.name %>
</p>

<p>
  <strong>Field of Study:</strong>
  <%= @scientist.field_of_study %>
</p>

<p>
  <strong>Planets Researched:</strong>
  <ul> 
  <% @scientist.planets.each do |p| %>
  <li> <%= link_to p.name, planet_path(p) %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_scientist_path(@scientist) %> |
<%= link_to 'Back', scientists_path %> |
<%= button_to 'Delete', @scientist, method: :delete %>
